body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: red;
}


#myCarousel img {
height: 300px;
margin-top: 35px;
}

.carousel-inner p {
    color: seashell;
    font-size: 23px;
 margin-top: 50px;
 margin-bottom: 50px;
}

